#navbar {
  display: flex;
  align-items: right;
  position: sticky;
  background-color: rgb(30, 31, 30);
  top: 0px;
  z-index: 20;
}

/* NAVIGATION BAR : LOGO*/

.navbar_logo {
  margin: 20px 20px;
}

.navbar_logo img {
  height: 3.8rem;
  margin: 0rem 0rem 0rem 1.1rem;
  border: 2px solid white;
  border-radius: 15px;
  box-shadow: 7px 7px 3px black;
}

#navbar ul {
  display: flex;
}

#navbar ul li {
  list-style: none;
  font-size: 1.7rem;
  margin: 0rem 0rem 0rem 3.5rem;
}

#navbar ul li a {
  color: rgb(185, 184, 185);
  display: block;
  padding: 3px 5px;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-size: 1.9rem;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: black;
  background-color: rgb(161, 159, 159);
  /* border: 2px solid black; */
  text-shadow: -1px -1px 2px rgb(236, 70, 40);
}
