body{
	background-color:#8EE4AF;
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    padding-left: 3%;
    color:#FFFFFF !important;
  }
  .nav .nav-item .nav-link{
    font-size: 17px;
    font-weight: medium;
    color: #FFFFFF !important;
    background-color: #084184;
    border-radius: 20px;
    padding:8px 20px 7px 20px;
    margin-right: 10px;
  }
  

.class1{
	padding-left: 100px;
	padding-top: 30px;
	color:green;
}
.class2{
	padding-left: 100px;
	padding-top: 30px;
	font-size:35px;
	color:blue;
}
.class3{
	color:brown;
}
.class4{
	color:red;
}
.class5{
	padding-left: 120px;
	padding-top: 10px;
	color:#4A235A;
	font-size: 20px;
}

.class6{
	padding-left: 100px;
	color:#7B241C;
}
.class7{
	padding-left: 220px;
	font-size: 20px;
	color:#4A235A;
}
.class8{
	color:#7D3C98;
}
.class9{
	height:80px;
	width:80px;
}

.options{
	padding-left: 120px;
	font-size: 20px;
}
.photos{
	padding-left: 200px;
}