body
{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(bg.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: l;
    background: rgba(5, 40,15, 1);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: 'Courier New', Courier, monospace;
    outline: lightsalmon;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4c4c4c;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #767676;
    font-size: 15px;
    cursor: pointer;
}
.form button :hover,.form button :active{
    background: #43A047;
}
.form .message{
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form .message a{
    color: #4caf50;
    text-decoration: none;   
}

.form .register{
    display: none;
}