
.footer ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer li {
    padding:0 10px;
  }
  
  .footer ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer ul a:hover {
      color: rgb(0, 0, 0);
    opacity:1;
    text-decoration: underline;
  }
  
  .footer .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid white;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer .social > a:hover {
    opacity:0.9;
  }
  
  .footer .copyright {
    font-family: 'Libre Baskerville', serif;
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color: rgb(0, 0, 0);
    margin-bottom:0;
    font-size: 1.1rem;
  }
  /*.footer::before{
    content: "";
    position: absolute;
    background: url('../images/footer2.png') no-repeat center center/cover ;
    width: 100%;
    height: 20%;
    z-index: -1;
    opacity: 0.2;
   }
   .list-inline-item a{
    font-family: 'Libre Baskerville', serif;
   }*/