html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #8EE4AF;

}
.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  padding-left: 3%;
  color:#FFFFFF !important;
}
.nav .nav-item .nav-link{
  font-size: 17px;
  font-weight: medium;
  color: #FFFFFF !important;
  background-color: #084184;
  border-radius: 20px;
  padding:8px 20px 7px 20px;
  margin-right: 10px;
}

img{
    width:1000px;
    height:800px;
    padding-top: 200px;
    padding-left: 100px;
    border-radius: 400px ;
}